{% extends 'Plantilla.html' %}


{% block body%}
<Form action="/consultapaciente" method="POST">
<body style="background-image: url('static/imagenes/Login.jpg'); background-size: cover; background-repeat: no-repeat;"></body>
</Form>
<div class="mt-5 mb-5 py-4">
    <h1 class="display-0 text-center text-black">Expediente Medicos</h1>
</div>
<input type="number" name="id" value ="{{Vidpaciente}}">
<table class="table table-lihgt table-hover shadow border-1 mt-5 mb-5">
    <thead>
        <tr class="table-primary">
            <th>Id</th>
            <th>Nombre Completo Paciente</th>
            <th>Fecha de Nacimiento</th>
            <th>Enfermedades crónicas</th>
            <th>Alergias</th>
            <th>Antecedentes Familiares</th>
        </tr>
    </thead>
    {%for pac in result%}
    <tr>
     <td>{{pac.0}}</td>
     <td>{{pac.1}} {{pac.2}} {{pac.3}}</td>
     <td>{{pac.4}}</td>
     <td>{{pac.5}}</td>
     <td>{{pac.6}}</td>
     <td>{{pac.7}}</td>
     <td>{{pac.8}}</td>
     <td>{{pac.9}}</td>
     
    </tr>
    {%endfor%}
   </tbody>
</table>
</Form>
                
{% endblock %}